body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    background: blanchedalmond;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fondamento', sans-serif;
    font-weight: normal;
}
h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
}

h1 strong{
    color: #1e5cad;
}
.ali{
    text-align: center;
    color: #c8ff02;
    margin-left: 5px;

}

.ishi{
    justify-content: center;
    display: flex;
    margin: 50px;
}
h2{
    color: black;
    font-weight: bold;
    margin-bottom: 40px;
    margin: 30px;
}

.receta{
    /* border: 1px solid gray; */
    border-radius: 10px;
    margin: 100px;
    margin-bottom: 15px;
    padding: 20px;
    background:darkred;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}

.project-description-{
    font-size: 20px;
    font-weight: 100;
}
.receta-description{
    font-size: 20px;
    font-weight: 100;
}
h6 {
    font-size: 15px;
}

.receta-title{
 font-size: 30px;
 margin-top: 0;
 margin-bottom:  10px 0;
}


.header {
    background-color:  #3c71a5;
    color: white;

}

.header a {
    color: white;
    text-decoration: none;
}
/* este da flexibilidad a la caja */
.flexbox {
    display: flex;
    /* flex-grow: nowrap; */
    flex-wrap: wrap;
    /* flex-direction: row; */
}

.box {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid burlywood;
/* este comando flex shrink no deja que le afecte otros comandos */
    flex-shrink: 0;
}
/* eliminar todo tipo de numeracion */
ol,
ul {
    /* margen */
    margin: 0;
    /* relleno */
    padding: 0;
    /* estilo de numeracion */
    list-style: none;   
}

.figure {
    /* quitar el margen de arriba */
    margin: 0;
}

.header {
    /* background-color: white; */
    background: blanchedalmond;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    /* fijar la cabecera */
    width: 100%;
    /* hacemos que la cabecera use todo el ancho */
    /* left: 0;  /*.posicionamos la cabezera  al lado izquierdo*/
    /* top: 0;   posiconamos la cabezera pegada arriba */
    /* position: fixed;  hacemos que la cabezera tenga una posicion fija    */ 
}
/* para mostrar elementos en lista */
.header ol{
    display: flex;
    height: inherit;
}

.menu{ /*.menu hereda de header */
height: inherit;
display: flex;
}

.header ol{   /* .header ol hereda de .menu */
    display: flex;
    height: inherit;
}

.header ol li{ /* .header ol  li hereda de .header ol */
    height: inherit;
}

.header a{/* .header a hereda de .header ol li*/
    color: #000000;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 15px;
    text-transform: uppercase;
    /* aunmentar el tama;o de letra */
    /* font-size: x-large; */
}

.footer {
    background-color: black;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    /* height: 50px; */
}

.footer img{
    vertical-align: middle;
}



/* .projecto-image */
small{
    font-weight: 100;
    margin: 10px;
    width: 480px;

}

.social{
    justify-content: center;
    display: flex;
    margin: 100px 10px;
    margin-top: 50px;
} 

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter{
    background-image: url(../images/twi.png);
}
.social-link.facebook{
    background-image: url(../images/face.png);
}
.social-link.instagram{
    background-image: url(../images/inst.png);
}

.container{
    /* border: 1px solid tomato; */
    width: 1200px;
    /* font-weight: 100%; */
    background: blanchedalmond;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
}
.container-1{
    /* border: 1px solid tomato; */
    width: 1200px;
    /* font-weight: 100%; */
    /* background: blanchedalmond; */
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
}

.footer-title{
    color: white;
}
.ol li{
    margin: 5px;
    margin-left: 15px;
    /* relleno */
    padding: 5px;
    /* estilo de numeracion */
    list-style: circle; 
}

.receta-image{
    border-radius: 10px;
}
.barra{
    margin: 10px;
    margin-left: 30px;
}

.btn{
    margin: 20px;
    width: 75px;
    height: 35px;
    border-radius: 2.5pc;
}